body {
  /* background: linear-gradient(135deg, #00c6ff, #0072ff); Vibrant aqua blue gradient */
  
    background: #00539C;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
